div[data-testid="stBlock"]:nth-child(4) {
    border: 1px solid green;
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div[data-testid="stBlock"]:nth-child(5) {
    border: 1px solid green;
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}